In [60]:
#pip install mlxtend

"""1) Prepare a classification model using SVM for salary data 

Data Description:

age -- age of a person
workclass	-- A work class is a grouping of work 
education	-- Education of an individuals	
maritalstatus -- Marital status of an individulas	
occupation	 -- occupation of an individuals
relationship -- 	
race --  Race of an Individual
sex --  Gender of an Individual
capitalgain --  profit received from the sale of an investment	
capitalloss	-- A decrease in the value of a capital asset
hoursperweek -- number of hours work per week	
native -- Native of an individual
Salary -- salary of an individual
"""

'1) Prepare a classification model using SVM for salary data \n\nData Description:\n\nage -- age of a person\nworkclass\t-- A work class is a grouping of work \neducation\t-- Education of an individuals\t\nmaritalstatus -- Marital status of an individulas\t\noccupation\t -- occupation of an individuals\nrelationship -- \t\nrace --  Race of an Individual\nsex --  Gender of an Individual\ncapitalgain --  profit received from the sale of an investment\t\ncapitalloss\t-- A decrease in the value of a capital asset\nhoursperweek -- number of hours work per week\t\nnative -- Native of an individual\nSalary -- salary of an individual\n'

In [1]:
import pandas as pd
df_test = pd.read_csv("SalaryData_Test(1).csv")
df_train = pd.read_csv("SalaryData_Train(1).csv")
df_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
df_test.isnull().sum()
df_train.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [3]:
#Data scaling
# standardization
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
df_test.iloc[:,[0,3,9,10,11]] = SS.fit_transform(df_test.iloc[:,[0,3,9,10,11]])
df_train.iloc[:,[0,3,9,10,11]] = SS.fit_transform(df_train.iloc[:,[0,3,9,10,11]])
print(df_test.iloc[:,[0,3,9,10,11]])
print(df_train.iloc[:,[0,3,9,10,11]])

            age  educationno  capitalgain  capitalloss  hoursperweek
0     -1.029005    -1.216563    -0.145438    -0.219169     -0.078889
1     -0.057423    -0.434898    -0.145438    -0.219169      0.750131
2     -0.804794     0.737599    -0.145438    -0.219169     -0.078889
3      0.391000    -0.044066     0.852624    -0.219169     -0.078889
4     -0.356371    -1.607395    -0.145438    -0.219169     -0.907909
...         ...          ...          ...          ...           ...
15055 -0.431108     1.128431    -0.145438    -0.219169     -0.078889
15056  0.017315     1.128431    -0.145438    -0.219169     -0.410497
15057 -0.057423     1.128431    -0.145438    -0.219169      0.750131
15058  0.391000     1.128431     0.562734    -0.219169     -0.078889
15059 -0.281634     1.128431    -0.145438    -0.219169      1.579152

[15060 rows x 5 columns]
            age  educationno  capitalgain  capitalloss  hoursperweek
0      0.042779     1.128898     0.146085    -0.218508     -0.077735
1      0.880261     1.128898    -0.147447    -0.218508     -2.331495
2     -0.033356    -0.439733    -0.147447    -0.218508     -0.077735
3      1.108665    -1.224048    -0.147447    -0.218508     -0.077735
4     -0.794703     1.128898    -0.147447    -0.218508     -0.077735
...         ...          ...          ...          ...           ...
30156 -0.870838     0.736740    -0.147447    -0.218508     -0.244681
30157  0.118914    -0.439733    -0.147447    -0.218508     -0.077735
30158  1.489339    -0.439733    -0.147447    -0.218508     -0.077735
30159 -1.251511    -0.439733    -0.147447    -0.218508     -1.747187
30160  1.032530    -0.439733     1.881084    -0.218508     -0.077735

[30161 rows x 5 columns]

In [4]:

#Label_Encoding
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder() 
df_test.iloc[:,1] = LE.fit_transform(df_test.iloc[:,1])
df_test.iloc[:,2] = LE.fit_transform(df_test.iloc[:,2])
df_test.iloc[:,4] = LE.fit_transform(df_test.iloc[:,4])
df_test.iloc[:,5] = LE.fit_transform(df_test.iloc[:,5])
df_test.iloc[:,6] = LE.fit_transform(df_test.iloc[:,6])
df_test.iloc[:,7] = LE.fit_transform(df_test.iloc[:,7])
df_test.iloc[:,8] = LE.fit_transform(df_test.iloc[:,8])
df_test.iloc[:,12] = LE.fit_transform(df_test.iloc[:,12])

df_train.iloc[:,1] = LE.fit_transform(df_train.iloc[:,1])
df_train.iloc[:,2] = LE.fit_transform(df_train.iloc[:,2])
df_train.iloc[:,4] = LE.fit_transform(df_train.iloc[:,4])
df_train.iloc[:,5] = LE.fit_transform(df_train.iloc[:,5])
df_train.iloc[:,6] = LE.fit_transform(df_train.iloc[:,6])
df_train.iloc[:,7] = LE.fit_transform(df_train.iloc[:,7])
df_train.iloc[:,8] = LE.fit_transform(df_train.iloc[:,8])
df_train.iloc[:,12] = LE.fit_transform(df_train.iloc[:,12])

C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_test.iloc[:,1] = LE.fit_transform(df_test.iloc[:,1])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_test.iloc[:,2] = LE.fit_transform(df_test.iloc[:,2])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_test.iloc[:,4] = LE.fit_transform(df_test.iloc[:,4])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_test.iloc[:,5] = LE.fit_transform(df_test.iloc[:,5])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_test.iloc[:,6] = LE.fit_transform(df_test.iloc[:,6])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:9: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_test.iloc[:,7] = LE.fit_transform(df_test.iloc[:,7])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:10: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_test.iloc[:,8] = LE.fit_transform(df_test.iloc[:,8])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:11: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_test.iloc[:,12] = LE.fit_transform(df_test.iloc[:,12])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_train.iloc[:,1] = LE.fit_transform(df_train.iloc[:,1])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_train.iloc[:,2] = LE.fit_transform(df_train.iloc[:,2])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_train.iloc[:,4] = LE.fit_transform(df_train.iloc[:,4])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:16: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_train.iloc[:,5] = LE.fit_transform(df_train.iloc[:,5])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:17: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_train.iloc[:,6] = LE.fit_transform(df_train.iloc[:,6])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:18: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_train.iloc[:,7] = LE.fit_transform(df_train.iloc[:,7])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:19: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_train.iloc[:,8] = LE.fit_transform(df_train.iloc[:,8])
C:\Users\Acer\AppData\Local\Temp\ipykernel_14204\4150489697.py:20: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_train.iloc[:,12] = LE.fit_transform(df_train.iloc[:,12])

In [5]:
X = df_train.iloc[:,0:13]
Y = df_train[["Salary"]]
X

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,0.042779,5,9,1.128898,4,0,1,4,1,0.146085,-0.218508,-0.077735,37
1,0.880261,4,9,1.128898,2,3,0,4,1,-0.147447,-0.218508,-2.331495,37
2,-0.033356,2,11,-0.439733,0,5,1,4,1,-0.147447,-0.218508,-0.077735,37
3,1.108665,2,1,-1.224048,2,5,0,2,1,-0.147447,-0.218508,-0.077735,37
4,-0.794703,2,9,1.128898,2,9,5,2,0,-0.147447,-0.218508,-0.077735,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,-0.870838,2,7,0.736740,2,12,5,4,0,-0.147447,-0.218508,-0.244681,37
30157,0.118914,2,11,-0.439733,2,6,0,4,1,-0.147447,-0.218508,-0.077735,37
30158,1.489339,2,11,-0.439733,6,0,4,4,0,-0.147447,-0.218508,-0.077735,37
30159,-1.251511,2,11,-0.439733,4,0,3,4,1,-0.147447,-0.218508,-1.747187,37
30160,1.032530,3,11,-0.439733,2,3,5,4,0,1.881084,-0.218508,-0.077735,37

In [16]:
# Splitting Train and Test
from sklearn.model_selection._split import train_test_split
X_train,X_val,Y_train,Y_val=train_test_split(X,Y,test_size=0.30,random_state=10)

In [22]:
from sklearn.svm import SVC
from sklearn import metrics

y_test = df_test['Salary'].values
# Create an SVM classifier with a linear kernel and C=1.0
clf = SVC(kernel='linear', C=1.0)

# Fit the classifier on the training data
clf.fit(X_train, Y_train)

# Predict on the training set
y_pred_train = clf.predict(X_train)

# Predict on the test set
y_pred_test = clf.predict(df_test.iloc[:, 0:13])

# Evaluate the model accuracy on the training set
print("Training Accuracy:", round(metrics.accuracy_score(Y_train, y_pred_train), 2))

# Assuming you have y_test defined, evaluate the model accuracy on the test set
print("Testing Accuracy:", round(metrics.accuracy_score(y_test, y_pred_test), 2))

c:\python39\lib\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training Accuracy: 0.81
Testing Accuracy: 0.81

In [24]:
from sklearn.svm import SVC
clf = SVC(kernel='poly',degree=10)

clf.fit(X_train, Y_train)
y_pred_train = clf.predict(X_train)
y_pred_test  = clf.predict(df_test.iloc[:,0:13])

from sklearn import metrics

print("Training Accuracy:", round(metrics.accuracy_score(Y_train, y_pred_train), 2))
print("Testing Accuracy:", round(metrics.accuracy_score(y_test, y_pred_test), 2))

c:\python39\lib\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training Accuracy: 0.84
Testing Accuracy: 0.84

In [25]:
from sklearn.svm import SVC
clf = SVC(kernel='rbf',gamma=5)


clf.fit(X_train, Y_train)
y_pred_train = clf.predict(X_train)
y_pred_test  = clf.predict(df_test.iloc[:,0:13])

from sklearn import metrics
print("Training Accuracy:", round(metrics.accuracy_score(Y_train, y_pred_train), 2))
print("Testing Accuracy:", round(metrics.accuracy_score(y_test, y_pred_test), 2))

c:\python39\lib\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training Accuracy: 0.94
Testing Accuracy: 0.79